.app {
    background-color: black;
    color: white;
    text-align: center;
    min-height: 100vh;
    /* overflow: hidden; */
    text-overflow: "clip"
  }
  body{
    background-color: black;
    overflow: hidden;
    text-overflow: "clip"
  }
  span{
    text-overflow: "clip"
  
  }
  /* *{background-color:black} */
  
  .header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 3px;
  }
  
  .title {
   /* text-shadow: 0px 0px 2px #38cac2; */
    color: #38cac2;
    letter-spacing: 2px;
  }
  
  .logo {
    height: 10vh;
  }
  
  
  .navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 250px;
    margin-top: 0.5%;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .nav-button {
    background-color: #38cac2;
    border: none;
    border-radius: 15px;
    /* color: white; */
    cursor: pointer;
    padding: 10px 20px;
   
    box-shadow: 0 0 5px #38cac2, 0 0 25px #38cac2 ;
  }
  
  .nav-button.selected {
    background-color: white;
    color: #38cac2;
  }
  
  .nav-button:hover {
    /* Add popping out effect */
  }
  
  /* ClientSelect.css */
  .client-select {
    color: white;
    text-align: left;
    /* margin: 30px; */
    /* margin-left: 65px; */
    margin-top: 10px;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  @media (max-width: 768px) {
    
  }